<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Add New Restaurant</h1>



<div>

	<form action = {{url_for('deleteRestaurant')}} name="newRestaurant"	method = "POST">
		<p>Restaurant Name: <input type = "text" name = "RestaurantName" /></p>
    	<input type="submit" value="Submit">
	</form>

</div>
</body>

</html>
